<section class="section posts-entry">
	<div class="container">
		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">Business</h2>
			</div>
			<div class="col-sm-6 text-sm-end"><a href="category.html" class="read-more">View All</a></div>
		</div>
		<div class="row g-3">
			<div class="col-md-9">
				<div class="row g-3">
					<div class="col-md-6">
						<div class="blog-entry">
							<a href="single.html" class="img-link">
								<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid">
							</a>
							<span class="date">Apr. 14th, 2022</span>
							<h2><a href="single.html">Thought you loved Python? Wait until you meet Rust</a></h2>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nobis ea quis inventore vel voluptas.</p>
							<p><a href="single.html" class="btn btn-sm btn-outline-primary">Read More</a></p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="blog-entry">
							<a href="single.html" class="img-link">
								<img src="images/img_2_sq.jpg" alt="Image" class="img-fluid">
							</a>
							<span class="date">Apr. 14th, 2022</span>
							<h2><a href="single.html">Startup vs corporate: What job suits you best?</a></h2>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nobis ea quis inventore vel voluptas.</p>
							<p><a href="single.html" class="btn btn-sm btn-outline-primary">Read More</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<ul class="list-unstyled blog-entry-sm">
					<li>
						<span class="date">Apr. 14th, 2022</span>
						<h3><a href="single.html">Don’t assume your user data in the cloud is safe</a></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nobis ea quis inventore vel voluptas.</p>
						<p><a href="#" class="read-more">Continue Reading</a></p>
					</li>

					<li>
						<span class="date">Apr. 14th, 2022</span>
						<h3><a href="single.html">Meta unveils fees on metaverse sales</a></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nobis ea quis inventore vel voluptas.</p>
						<p><a href="#" class="read-more">Continue Reading</a></p>
					</li>

					<li>
						<span class="date">Apr. 14th, 2022</span>
						<h3><a href="single.html">UK sees highest inflation in 30 years</a></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nobis ea quis inventore vel voluptas.</p>
						<p><a href="#" class="read-more">Continue Reading</a></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
