@model List<ResultMainCategoryDto>

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <a href="/ArticleHome/Index" class="logo m-0 float-start">Beld<span class="text-primary">.</span></a>
                    </div>
                    <div class="col-8 text-center">
                        <form action="#" class="search-form d-inline-block d-lg-none">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="bi-search"></span>
                        </form>

                        <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                            <li><a href="/ArticleHome/Index">Anasayfa</a></li>
                            <li><a href="/About/Index">Hakkımızda</a></li>
                            <li class="has-children active">
                                <a href="/ArticleHome/Index">Kategoriler</a>
                                <ul class="dropdown">
                                    @foreach (var category in @Model)
                                    {
                                        <li><a href="@Url.Action("Index", "ArticleCategory", new { categoryId = category.articleMainCategoryID, pageNumber = 1, pageSize = 5 })">@category.name</a></li>

                                    }
                                </ul>
                            </li>
                            <li><a href="/Register/Index">Kayıt Ol</a></li>
                            <li><a href="/Login/Index">Giriş Yap</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>