
<section class="section posts-entry posts-entry-sm bg-light">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 text-uppercase text-black">More Blog Posts</div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            @foreach (var article in Model.getLast4ArticlesDto)
            {
                <div class="col">
                    <div class="blog-entry">
                        <div class="image-container">
                            <a href="~/blogy-1.0.0/single.html" class="img-link">
                                <img src="/images/@article.bigImageUrl" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <span class="date">@article.creationTime.ToString("MMM dd, yyyy")</span>
                        <h2><a href="single.html">@article.title</a></h2>
                        <p>@article.name</p>
                        <p><a href="#" class="read-more">Continue Reading</a></p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
