<div class="section bg-light">
	<div class="container">

		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">Travel</h2>
			</div>
			<div class="col-sm-6 text-sm-end"><a href="category.html" class="read-more">View All</a></div>
		</div>

		<div class="row align-items-stretch retro-layout-alt">

			<div class="col-md-5 order-md-2">
				<a href="single.html" class="hentry img-1 h-100 gradient">
					<div class="featured-img" style="background-image: url('images/img_2_vertical.jpg');"></div>
					<div class="text">
						<span>February 12, 2019</span>
						<h2>Meta unveils fees on metaverse sales</h2>
					</div>
				</a>
			</div>

			<div class="col-md-7">

				<a href="single.html" class="hentry img-2 v-height mb30 gradient">
					<div class="featured-img" style="background-image: url('images/img_1_horizontal.jpg');"></div>
					<div class="text text-sm">
						<span>February 12, 2019</span>
						<h2>AI can now kill those annoying cookie pop-ups</h2>
					</div>
				</a>

				<div class="two-col d-block d-md-flex justify-content-between">
					<a href="single.html" class="hentry v-height img-2 gradient">
						<div class="featured-img" style="background-image: url('images/img_2_sq.jpg');"></div>
						<div class="text text-sm">
							<span>February 12, 2019</span>
							<h2>Don’t assume your user data in the cloud is safe</h2>
						</div>
					</a>
					<a href="single.html" class="hentry v-height img-2 ms-auto float-end gradient">
						<div class="featured-img" style="background-image: url('images/img_3_sq.jpg');"></div>
						<div class="text text-sm">
							<span>February 12, 2019</span>
							<h2>Startup vs corporate: What job suits you best?</h2>
						</div>
					</a>
				</div>

			</div>
		</div>

	</div>
</div>