<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/images/@Model.getArticleWithAuthorById.bigImageUrl');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6">
                <div class="post-entry text-center">
                    <h1 class="mb-4">@Model.getArticleWithAuthorById.title</h1>
                    <div class="post-meta align-items-center text-center">
                        <figure class="author-figure mb-0 me-3 d-inline-block">
                            <img src="/images/@Model.getArticleWithAuthorById.imageUrl" alt="Image" class="img-fluid">
                        </figure>
                        <span class="d-inline-block mt-1">@Model.getArticleWithAuthorById.name</span>
                        <span>@Model.getArticleWithAuthorById.creationTime</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

