@model List<GetAllArticleDto> // Model sınıfınızın namespace'ini buraya ekleyin

<html>
<head>
    <title>Makale İçerikleri</title>

</head>
<body>
    <h1>Makale İçerikleri</h1>
    @foreach (var article in Model)
    {
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
            <h2>@article.title</h2>
            <div>@Html.Raw(article.content)</div>
        </div>
    }
</body>
</html>
