<div id="editor" style="max-height: 300px; overflow-y: auto;">
    <div style="max-height: 50%; overflow-y: auto;">
        @Html.Raw(Model.content)
    </div>
</div>


@section scripts {
	<script src="~/ckeditor5-build-classic/ckeditor.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            ClassicEditor
                .create(document.querySelector('#editor'), {
                    // Boş toolbar, düzenleme yeteneklerini devre dışı bırakır
                    toolbar: []
                })
                .then(editor => {
                    // readOnly modunu etkinleştir
                    editor.enableReadOnlyMode('my-feature-id');

                    // readOnly modunu konsola yazdır
                    console.log("readOnly modu:", editor.isReadOnly);
                })
                .catch(error => {
                    console.error(error);
                });
        });
    </script>
}